[Unit]
Description=Gmail Watch Webhook (gog)
After=network-online.target

[Service]
Type=simple
Environment=GOG_KEYRING_PASSWORD=pass@123
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/root/.nvm/versions/node/v22.22.0/bin
ExecStart=/usr/local/bin/gog gmail watch serve --account ahmednasr999@gmail.com --bind 127.0.0.1 --port 8788 --path / --token 197bf93fd3b346e32dbf6c76212ad49f13232dd23bf7e8a1 --hook-url http://127.0.0.1:18789/hooks/gmail --hook-token 39976ea87957facfb22f3d7cb1ae7221433ce4716c59a148 --include-body --max-bytes 20000
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
